<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>摄影数据统计</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@latest/dist/echarts.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts-wordcloud.min.js"></script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            margin: 0;
            align-items: center;
        }
    </style>
</head>

<body>
    <div>
        <p class="a_date"><span>{{start_date}}--{{end_date}}</span></p>
        <p class="mt-3">期间共拍摄<span id="total_shot">{{total_shot}}</span>张</p>

        <div><br></div>
    </div>
<!--    <div id="echarts-month_count" style="width: 800px; height: 600px;"></div>-->
    <div id="echarts-parent">
        <h2>拍摄统计</h2>
        <div id="echarts-focal-seq-10" style="width: 800px; height: 600px;"></div>
        <div id="echarts-shot-calendar" style="width: 800px; height: 300px;"></div>
        <div id="echarts-hour" style="width: 800px; height: 600px;"></div>

        <div id="echarts-lens" style="width: 800px; height: 600px;"></div>

        <div id="echarts-aperture" style="width: 800px; height: 600px;"></div>
        <div id="echarts-iso" style="width: 800px; height: 600px;"></div>
        <div id="echarts-shutter" style="width: 800px; height: 600px;"></div>

        <div id="echarts-years" style="width: 800px; height: 600px;"></div>

        <div id="echarts-month" style="width: 800px; height: 600px;"></div>
        <div id="echarts-month-shot" style="width: 800px; height: 600px;"></div>
        <div id="echarts-focal-seq" style="width: 800px; height: 600px;"></div>

    </div>
    <div id="echarts-wordcloud" style="width: 800px; height: 800px;"></div>
    <div id="echarts-calendar" style="width: 800px; height: 300px;"></div>


    <script>
        function month(time_range) {
            const requestData = {
                wxid: wxid,
                time_range: time_range
            };
            fetch('/month_count', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestData)
            })
                .then(response => response.json())
                .then(chartOptions => {
                    // 在这里使用 ECharts 渲染图表
                    var myChart = echarts.init(document.getElementById('echarts-month_count'));
                    var option = chartOptions.chart_data;
                    myChart.setOption(JSON.parse(option));
                });
        }

        function shot_calendar(time_range) {
            const requestData = {
                time_range: time_range
            };
            fetch('/shot_calendar', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestData)
            })
                .then(response => response.json())
                .then(chartOptions => {
                    // 在这里使用 ECharts 渲染图表
                    var myChart = echarts.init(document.getElementById('echarts-calendar'));
                    var option = chartOptions.chart_data;
                    myChart.setOption(JSON.parse(option));
                });
        }

        function statistics_shot(time_range) {
            const requestData = {
                time_range: time_range
            };
            fetch('/statistics_shot', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestData)
            })
                .then(response => response.json())
                .then(resp => {
                    //var parent = document.getElementById('echarts-parent')
                    // 在这里使用 ECharts 渲染图表
                    var focal10 = document.getElementById('echarts-focal-seq-10');
                    var focal10Bar = echarts.init(focal10);
                    var focal10Data = resp.chart_data_focal_seq_10;
                    focal10Bar.setOption(JSON.parse(focal10Data));


                    var shot_calendar = echarts.init(document.getElementById('echarts-shot-calendar'));
                    shot_calendar.setOption(JSON.parse(resp.chart_data_shot_calendar));

                    var lens = echarts.init(document.getElementById('echarts-lens'));
                    lens.setOption(JSON.parse(resp.chart_data_lens));

                    var iso = echarts.init(document.getElementById('echarts-iso'));
                    iso.setOption(JSON.parse(resp.chart_data_iso));

                    var aperture = echarts.init(document.getElementById('echarts-aperture'));
                    aperture.setOption(JSON.parse(resp.chart_data_aperture));

                    var shutter = echarts.init(document.getElementById('echarts-shutter'));
                    shutter.setOption(JSON.parse(resp.chart_data_shutter));

                    var hour = echarts.init(document.getElementById('echarts-hour'));
                    hour.setOption(JSON.parse(resp.chart_data_hour));

                });
        }
        //var time_range=['1997-01-01 00:00:00','2035-01-01 00:00:00']
        var time_range = ['2024-01-01 00:00:00', '2024-12-31 23:59:59']
        document.querySelector(".a_date span").textContent = time_range[0] + " -- " + time_range[1];

        statistics_shot(time_range);
        //shot_calendar(time_range);
    </script>
</body>

</html>