<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>摄影数据统计</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@latest/dist/echarts.min.js"></script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            margin: 0;
            align-items: center;
        }

        .chart-container {
            width: 100%;
            /* 自适应父容器宽度 */
            height: 60vh;
            /* 高度用视口高度百分比，例如60% */
            max-width: 1200px;
            /* 可选：限制最大宽度 */
            margin: 0 auto;
            /* 居中 */
        }

        /* 如果某些图表需要特别矮一些，比如日历图 */
        .chart-calendar {
            height: 40vh;
        }
    </style>
</head>

<body>
    <div>
        <p class="a_date"><span>{{start_date}}--{{end_date}}</span></p>
        <p>期间共拍摄<span id="total_shot">{{total_shot}}</span>张</p>

        <div><br></div>
    </div>
    <div id="echarts-focal-seq-10" class="chart-container"></div>
    <div id="echarts-focal-top10" class="chart-container"></div>
    <div id="echarts-shot-calendar" class="chart-container chart-calendar"></div>
    <div id="echarts-hour" class="chart-container"></div>
    <div id="echarts-lens" class="chart-container"></div>
    <div id="echarts-aperture" class="chart-container"></div>
    <div id="echarts-iso" class="chart-container"></div>
    <div id="echarts-shutter" class="chart-container"></div>
    <div id="echarts-m-shot-times" class="chart-container"></div>

    <script>

        const charts = [];

        function renderChart(id, optionJson) {
            const el = document.getElementById(id);
            if (!el) return;
            const chart = echarts.init(el);
            chart.setOption(JSON.parse(optionJson));
            charts.push(chart);
            return chart;
        }

        // 统一监听窗口大小变化
        window.addEventListener("resize", () => {
            charts.forEach(chart => chart.resize());
        });

        function statistics_shot(time_range) {
            const requestData = {
                time_range: time_range
            };
            fetch('/statistics_shot', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestData)
            })
                .then(response => response.json())
                .then(resp => {
                    renderChart('echarts-focal-seq-10', resp.chart_data_focal_seq_10);
                    renderChart("echarts-shot-calendar", resp.chart_data_shot_calendar);
                    renderChart("echarts-lens", resp.chart_data_lens);
                    renderChart("echarts-iso", resp.chart_data_iso);
                    renderChart("echarts-aperture", resp.chart_data_aperture);
                    renderChart("echarts-shutter", resp.chart_data_shutter);
                    renderChart("echarts-hour", resp.chart_data_hour);
                    renderChart("echarts-m-shot-times", resp.chart_data_m_shot_times);
                    renderChart("echarts-focal-top10", resp.chart_data_focal_top10);
                });
        }
        var time_range = ['2024-01-01 00:00:00', '2024-12-31 23:59:59']
        document.querySelector(".a_date span").textContent = time_range[0] + " -- " + time_range[1];

        statistics_shot(time_range);
    </script>
</body>

</html>